Source: collabora-gtimelog
Section: admin
Priority: optional
Maintainer: Simon McVittie <smcv@debian.org>
Uploaders: Jonny Lamb <jonny.lamb@collabora.co.uk>,
           Jack Leigh <jack.leigh@collabora.co.uk>,
           Jordi Mallach <jordi.mallach@collabora.co.uk>
Build-Depends: debhelper (>= 7.0.50~),
               dh-python,
               python (>= 2.6.6-3~),
               python-setuptools (>= 0.6b3)
Homepage: http://git.collabora.co.uk/?p=gtimelog.git;a=summary
Vcs-Git: git://git.collabora.co.uk/git/gtimelog.git
X-Python-Version: >= 2.4

Package: collabora-gtimelog
Architecture: all
Conflicts: gtimelog
Replaces: gtimelog
Depends: gir1.2-appindicator3-0.1,
         gir1.2-secret-1,
         gir1.2-gtk-3.0,
         gir1.2-soup-2.4,
         gir1.2-pango-1.0 (>= 1.29.3+git20110916),
         python-gi,
         ${misc:Depends},
         ${python:Depends}
Recommends: xdg-utils
Suggests: mutt, vim-gnome
XB-Python-Version: ${python:Versions}
Description: minimal timelogging system (Collabora's version)
 gtimelog provides a time tracking application to allow the user to track what
 they work on during the day and how long they spend doing it.
