#! /usr/bin/make -f 

clean:
	dh_testdir
	dh_clean
	rm -rf build

build:

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	python setup.py build
	install -m 755 build/lib/gtimelog/gtimelog.py debian/collabora-gtimelog/usr/bin/gtimelog
	install -m 644 build/lib/gtimelog/gtimelog.ui debian/collabora-gtimelog/usr/share/gtimelog/
	install -m 644 build/lib/gtimelog/gtimelog.png debian/collabora-gtimelog/usr/share/pixmaps/
	install -m 644 build/lib/gtimelog/gtimelog-small.png debian/collabora-gtimelog/usr/share/pixmaps/
	install -m 644 gtimelog.desktop debian/collabora-gtimelog/usr/share/applications/

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_installman debian/gtimelog.1
	dh_installinit 
	dh_compress
	dh_pysupport
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:

binary: binary-arch binary-indep
